:root {
    /* font-synthesis: none; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    --color-surface: white;
    --color-on-surface: #313D48;
    --color-primary: #1669F6;
    --color-primary-dark: #014dd1;
    --color-on-primary: white;
    --medium-font: 16px;
    --small-2-font: 14px;
    --small-font: 12px;
    --page-gapping: 24px;
}

body {
    margin: 0;
}

* {
    font-family: Taviraj;
    box-sizing: border-box;
}

p {
    font-size: var(--medium-font);
    color: var(--color-on-surface);
}

h1 {
    font-size: 48px;
    margin: 1em 0;
}

h2 {
    font-size: 32px;
    margin: 1em 0;
}


h3 {
    font-size: 24px;
    margin: 1em 0;
}

h4 {
    font-size: 20px;
    margin: 1em 0;
}




.page {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    overflow: auto;
}

button {
    border: none;
    padding: 0.8rem 1.2rem;
}

button.primary {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    border: 1px solid var(--color-primary);
    transition: all 200ms;
}

button.primary:hover {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
}

button.outline {
    border: 1px solid var(--color-primary);
    color: var(--color-on-primary);
    background-color: transparent;
}


.phone{
    display: none;
}




@media only screen and (max-width: 1000px) {
    .desktop {
        display: none !important;
    }

    .phone{
        display: block;
    }
}


@media only screen and (max-width: 800px) {
    p {
        font-size: 15px;
      
    }
    
    h1 {
        font-size: 42px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 18px;
    }
    
}