.contact-us {
    margin-top: 42px;
    min-height: 400px;
    background-color: #E8F0FF;
    position: relative;
}

.contact-us .page {
    padding: 0 var(--page-gapping);
}

.contact-us img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;

}

.contact-us form {
    margin: 50px 0;
    background-color: white;
    padding: 40px;
    padding-top: 24px;
    width: 600px;
    
}

.contact-us form>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contact-us input, .contact-us select, .contact-us textarea{
    background-color: #F6F6F9;
    padding: 12px 16px;
    border: none;
    border: 1px solid #c5c5c5;
    margin-bottom: 16px;
    font-size: var(--medium-font);
}

.contact-us textarea{
    width: 100%;
}



@media only screen and (max-width: 600px) {
    .contact-us form>div{
        grid-template-columns: 100%;
        gap: 0;
    }
}

@media only screen and (max-width: 1100px) {
    .contact-us img{
        height: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .contact-us img{
        height: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .contact-us img{
        position: static;
        width: 50%;
        height: auto;
        margin-left: auto;
        display: block;
    
    }

    .contact-us form {
        width: 100%; 
    }
}