header{
    display: flex;
    align-items: center;
    height: 80px;
}

header>div{
    padding: 0 var(--page-gapping);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 42px;
}

header .nav-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header a{
    text-decoration: none;
    color: var(--color-on-surface);
    font-size: var(--medium-font);
    font-weight: bold;
}