.testimonial .page {
    padding: 0 var(--page-gapping);
}

.testimonial .page>.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.testimonial .testimonial-container{
    overflow-x: auto;
    position: relative;
}
.testimonial .testimonial-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* translate: -50% 0; */
    transition: translate 500ms;
}

.testimonial .card {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 0px;
    margin: 24px 12px;
    overflow: auto;
    position: relative;
}

.testimonial .card>img {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
}

.testimonial .card .heading {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 1rem;
}

.testimonial .card>.heading img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.testimonial .card h4 {
    margin: 0;
    font-size: 18px;
}

.testimonial .card h4 {
    margin: 0;
}

.testimonial .card>.heading p {
    margin: 0;
    line-height: 1;
}

.testimonial hr {
    border: none;
    border-top: 1px solid #dfeafd;
}

.testimonial .bottom {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    align-items: center;
}

.testimonial .bottom img {
    height: 24px;
}

.testimonial .card>p {
    margin: 1.5em 0;
}

.testimonial .left, .testimonial .right{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 30px;
    height: 30px;
    background-color: #b3cfff;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .left:hover, .testimonial .right:hover{
    background-color: #5a97ff;
}

.testimonial .left svg, .testimonial .right svg{
    fill: #0044b9;
    width: 16px;
}

.testimonial .left{
    left: 0;
    display: none;
}

.testimonial .right{
    right: 0;
    display: none;
}


.testimonial .radio-group {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    display: none;
}

.testimonial .radio-container {
    position: relative;
    width: 12px;
    height: 12px;

}

.testimonial .radio-container input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
}


.testimonial .radio-container span {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
}

.testimonial .radio-container input:checked~span {
    background-color: var(--color-primary);

}





@media only screen and (max-width: 850px) {

    .testimonial .testimonial-holder {
        grid-template-columns: 1fr 1fr;
        translate: 0 0;
    }

}

@media only screen and (max-width: 600px) {

    .testimonial .testimonial-container{
        overflow-x: hidden;

    }
    .testimonial .testimonial-holder {
        display: flex;
        
    }

    .testimonial  .card-holder {
        flex-shrink: 0;
        width: 100%;
    }

    .testimonial .left, .testimonial .right{
        display: flex;
    }
    
    
    .testimonial .radio-group {
        display: flex;
    }

}